<!DOCTYPE html>
<html lang="ch-CN">
    <head>
        <meta charset="utf-8" />
        <title>你好</title>
    </head>
    <body>
        <div>duanyiting1</div>
        <span>duanyiting2</span>
        <h1>欢迎</h1><h2>欢迎</h2><h3>欢迎</h3>
        <h4>欢迎</h4><h5>欢迎</h5><h6>欢迎</h6>
        <p>duanyiting3</p>
        <ul>
            <li>1</li><li>2</li><li>3</li>
        </ul>
        <i>duanyiting4</i>
        <strong>duanyiting5</strong>
        <hr>
        <p>duany<br>iting6</p>
        <img src='截图.jpg'alt='图片'title='测试图片'>
        <!--<a href='www.baidu.com'>百度一下</a>-->
        <!--测试注释-->
    </body>
</html>